config.json
config.ini
chat_app.db
__pycache__/
*.pyc
temp/
-files
*.exe
*compressed*.txt
uploads/
*.pdf
*.PDF
.vscode/
*.db-shm
*.db-wal
venv/
static/uploads/
project-summary.ai.txt
pytestlog.txt
tests/pytest-logs.log
.coverage
llm_request.txt
partial_project_archive_tui.txt
.workdir
logs/
.devpnt/patch_history.json
.claude
gunicorn.ctl
